name: Javadoc

on:
  workflow_run:
    workflows: [ "Gradle Build" ]
    branches: [ "main" ]
    types:
      - completed

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success'
         && github.event.workflow_run.event == 'push' }}
    permissions:
      contents: write
    steps:
      - name: Publish JavaDoc
        uses: MathieuSoysal/Javadoc-publisher.yml@v3.0.2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          javadoc-branch: javadoc
          java-version: 17
          project: gradle